/* General styling */
body {
    font-family: Arial, sans-serif;
    background-image: url(brr.jpg);
    background-color: #0a1f1f;
    color: #d0d0d0;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #0a1f1f;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
    color: #009882;
}

/* Header styling */
header {
    background-color: #009882;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.button-home {
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    margin: 0 10px 0 0;
}

/* Login form in header */
#loginForm {

    display: flex;
    align-items: center;
    gap: 10px; /* Space between form elements */
}

#loginForm input[type="text"],
#loginForm input[type="password"] {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
}

#loginForm button, #logout {
    padding: 10px 20px;
    background-color: #00665a;
    color: #eaeaea;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#loginForm button:hover, #logout:hover {
    background-color: #004d4a;
}

/* Registration form styling */
#registrationForm {
    margin-top: 20px;
}

#registrationForm input,
#registrationForm button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box; /* This ensures padding and border are included in the total width */

}
#registrationForm input {
    color: #0a1f1f; /* Primary Text color for input text */
    border-color: #909090; /* Secondary Text color for input border */
}
#registrationForm input::placeholder {
    color: #909090; /* Secondary Text color for placeholder text */
}
/* Gender dropdown styling */
#registrationForm select {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box; /* This ensures padding and border are included in the total width */
    color: #0a1f1f; /* Primary Text color for dropdown text */
    border-color: #909090; /* Secondary Text color for dropdown border */
    appearance: none; /* Removes default browser styling */
    background-color: #eaeaea; /* Light background for dropdown */
    cursor: pointer; /* Hand cursor for dropdown */
}

#registrationForm select:focus {
    outline: none; /* Removes default browser focus outline */
    border-color: #009882; /* Accent color for focused dropdown border */
}


#registrationForm button {
    background-color: #009882; /* Accent Color */
    color: #e0e0e0;
    cursor: pointer;
    transition: background-color 0.3s;
}

#registrationForm button:hover {
    background-color: #00665a;
}
